.nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  background-color:  #69325f;
  color: #fff;
  width: 25%;
  max-width: 10rem;
  justify-content: space-between;
  overflow: hidden; 
  padding-bottom: 100vh;

}
li{

      margin-bottom: 1rem; 
      list-style: none;
      align-items:start;
   
      
    }
    
    .nav-toggler {
      display: none;
    } 
    
     /* .nav-toggle-icon {
      display: block;
      width: 20px;
      height: 2px;
      background-color: #fff;
      margin-bottom: 4px;
    }  */
    /* .nav-menu {
        display: flex;
        flex-direction: column;
        list-style: none;
        margin: 0;
        margin-top: 65%;
        align-self: flex-start;
    } */



@media (max-width: 991px) {

.nav {
  flex-direction: column;
  align-items: flex-start;
  height: auto;
  padding-bottom: 1 rem;
  background-color: #69325f;

}

.nav-brand {
  margin-bottom: 10px;
}

.nav-toggler {
  display: block;

}

.nav-nav {
  display: none;
  margin-top: 10px;
}

.nav-nav.open {
  display: flex;
  flex-direction: column;

}

.nav-menu-item {
  margin-right: 0;
  margin-bottom: 10px;
}
}












/* 
.nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    background-color:  #69325f;
    color: #fff;
    width: 25%;
    height: 100vh;
    max-width: 10rem;
    justify-content: space-between;
    overflow: hidden; 

}
li{
 
        margin-bottom: 1rem; 
      } */


/* @media (max-width: 991px) {
  
  .nav {
    flex-direction: column;
    align-items: flex-start;
    height: auto;
  }

  .nav-brand {
    margin-bottom: 10px;
  }

  .nav-toggler {
    display: block;

  }

  .nav-nav {
    display: none;
    margin-top: 10px;
  }

  .nav-nav.open {
    display: flex;
    flex-direction: column;
  
  }

  .nav-menu-item {
    margin-right: 0;
    margin-bottom: 10px;
  }
} */

  

  
  
  
