.navbar2 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    background-color: #69325f;
    color: #fff;
  }
  
  .navbar-toggle2 {
    display: none;
  }
  
  .navbar-toggle-label2 {
    cursor: pointer;
    display: inline-block;
  }
  
  .navbar-toggle-icon2 {
    display: block;
    width: 20px;
    height: 2px;
    background-color: #fff;
    margin-bottom: 4px;
  }
  
  .navbar-menu2 {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .navbar-menu-item2 {
    margin-left: 1rem;
  }
  
  @media (max-width: 991px) {
    .navbar-toggle2 {
      display: block;
    }
  
    .navbar-menu2 {
      display: none;
      flex-direction: column;
      background-color: #69325f;
      padding: 1rem;
      position: absolute;
      top: 100%;
      left: 0;
      width: 100%;
    }
  
    .navbar-menu-item2 {
      margin: 0;
      margin-bottom: 1rem;
    }
  
    .navbar-menu-item2:last-child {
      margin-bottom: 0;
    }
  
    input[type="checkbox"]:checked ~ .navbar-menu2 {
      display: flex;
    }
  }
  
  @media (max-width: 767px) {
  
  
    .navbar2 {
      padding: 0.5rem;
    }
  
    .navbar-toggle-icon2 {
      width: 16px;
      height: 2px;
      margin-bottom: 3px;
    }
  
    .navbar-menu2 {
      padding: 0.5rem;
    }
  
    .navbar-menu-item2 {
      margin: 0;
      margin-bottom: 0.5rem;
    }
  
    input[type="checkbox"]:checked ~ .navbar-menu2 {
      position: relative;
      top: 0;
      left: 0;
      width: 100%;
    }
  }
  